.form-group {
    position: relative;
    height: 3rem;
}

.form-control{
    height: 2.8rem;
}
.label-control {
    position: absolute;
    top: 0.30rem;
    left: 1.25rem;
    color:blue;
    opacity: 1;
    font: 400 0.875rem/1.375rem "Open Sans", sans-serif;
    cursor: text;
    transition: all 0.2s ease;
}

.form-user-input:focus+.label-control,
.form-user-input.notEmpty+.label-control,
.form-control-textarea:focus+.label-control,
.form-control-textarea.notEmpty+.label-control {
    top: 0.125rem;
    opacity: 1;
    font-size: 0.75rem;
    font-weight: 700;
}

.form-user-input,
.form-control-select {
    display: block;
    /* needed for proper display of the label in Firefox, IE, Edge */
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 0rem;
    padding-left: 1.25rem;
    border: 1px solid #c4d8dc;
    border-radius: 0.25rem;
    background-color: #fff;
    color: #555;
    font: 400 0.875rem/1.875rem "Open Sans", sans-serif;
    transition: all 0.2s;
    -webkit-appearance: none;
    /* removes inner shadow on form inputs on ios safari */
}

.form-control-select {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: 3rem;
}


.form-control-textarea {
    display: block;
    /* used to eliminate a bottom gap difference between Chrome and IE/FF */
    width: 100%;
    height: 8rem;
    /* used instead of html rows to normalize height between Chrome and IE/FF */
    padding-top: 1.25rem;
    padding-left: 1.3125rem;
    border: 1px solid #c4d8dc;
    border-radius: 0.25rem;
    background-color: #fff;
    color: #555;
    font: 400 0.875rem/1.75rem "Open Sans", sans-serif;
    transition: all 0.2s;
}

.form-user-input:focus,
.form-control-select:focus,
.form-control-textarea:focus {
    border: 1px solid #a1a1a1;
    outline: none;
    /* Removes blue border on focus */
}

.form-user-input:hover,
.form-control-select:hover,
.form-control-textarea:hover {
    border: 1px solid #a1a1a1;
}